.button--light {
  background-color: transparentize(#ff7800, $amount: 0.8);
  color: #ff7800;

  img {
    width: 24px;
  }

  &:hover {
    background-color: transparentize(#ff7800, $amount: 0.85);
  }
}

.ecommerce-btn-more {
  font-weight: 600;
  font-size: 20px;
  line-height: 72px;
  color: #606060;
}

.button--icon {
  border-radius: 16px;
  width: 60px;
  height: 60px;
}

.ecommerce-divider {
  width: 100%;
  height: 1px;
  background-color: #ff6d43;
  margin: 50px 0;
}

.shops-swiper {
  overflow: hidden;

  &-wrapper {
    padding: 0 40px;
    position: relative;
    margin-bottom: 84px;
  }

  .swiper-slide {
    width: max-content;
    height: auto;
  }

  &-navigation-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: transparentize(#ff7800, 0.8);
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    color: #ff7800;
    transition: all 0.3s ease-in;

    &:hover {
      background: #ff7800;
      color: #fff;
    }

    &.__left {
      left: 0;
    }

    &.__right {
      right: 0;
    }
  }
}

.shops-card {
  width: 94px;
  height: 94px;
  position: relative;
  padding: 4px;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #ff6d43 0deg, #f5df4d 360deg);
    transform: matrix(0, -1, -1, 0, 0, 0);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::before {
      transform: rotateZ(-520deg) matrix(0, -1, -1, 0, 0, 0);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.main-section {
  margin: 80px 0 190px;
}

.main-grid {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 40px;

  @media screen and (max-width: 1920px) {
    grid-template-columns: 350px 1fr;
    grid-column-gap: 30px;
  }
}

.ecommerce-sidebar {
}

.ecommerce-filter-list {
  list-style: none;
  margin-right: 60px;
  padding-left: 0;

  @media screen and (max-width: 1920px) {
    margin-right: 20px;
  }

  &-item {
    margin-bottom: 10px;

    a {
      display: flex;
      align-items: center;
      padding: 5px;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #606060;
      transition: color 0.3s ease-out;

      &:hover {
        color: #ff7800;
      }

      img {
        max-width: 20px;
      }
    }
  }

  &-icon {
    width: 20px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ecommerce-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 7px rgba(179, 179, 179, 0.25);
  padding: 50px 20px;

  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #323244;
    margin-bottom: 16px;
  }

  &-subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #606060;
    padding: 0 26px;
  }

  .button {
    margin-top: 50px;
  }
}

.ecommerce-info {
  background: #323244;
  backdrop-filter: blur(20px);
  border-radius: 22px 0 22px 22px;
  padding: 75px 45px;
  color: #fff;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 35px;
    top: -34px;
    width: 68px;
    height: 68px;
    background: conic-gradient(from 180deg at 50% 50%, #ff6d43 0deg, #f5df4d 360deg);
    transform: matrix(0, -1, -1, 0, 0, 0);
    border-radius: 50%;
  }

  &-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.social-accounts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #323244;
    margin-bottom: 30px;
  }

  .grid {
    a {
      &:not(:last-child) {
        margin-right: 43px;
      }
    }
  }
}

.ecommerce-banner-grid {
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-gap: 20px;

  @media screen and (max-width: 1920px) {
    grid-template-columns: 1fr 220px;
  }

  .ecommerce-banner-right {
    background-color: white;
    background-image: url("../../../assets/svg/shops/banner-2.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;

    .button {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 20px);

      @media screen and (max-width: 1920px) {
        font-weight: 600;
        font-size: 14px;
      }
    }

    @media screen and (min-width: 1920px) {
      height: 560px;
    }
  }
}

.ecommerce-banner-swiper {
  overflow: hidden;
  position: relative;

  .swiper-pagination-bullets {
    position: absolute;
    z-index: 1;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: 50px !important;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;

    &-active {
      background-color: #ff7800;
    }
  }

  .swiper-slide {
    height: auto;
    background-color: white;
    background-image: url("../../../assets/svg/shops/banner.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    @media screen and (min-width: 1920px) {
      height: 560px;
    }
  }

  &-img {
    width: 100%;
    object-fit: contain;
  }
}

.ecommerce-products-wrapper {
  margin: 50px 0 0;
}

.ecommerce-products-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 72px;
  color: #606060;
  margin-bottom: 20px;
}

.ecommerce-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

.ecommerce-product {
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  &:hover {
    background: #ffffff;
    box-shadow: 0px 1px 7px rgba(179, 179, 179, 0.25);
  }

  &-checkbox {
    &:checked {
      + .ecommerce-product-label {
        i {
          &:last-child {
            display: block;
          }

          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  &-label {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    padding: 10px;
    cursor: pointer;
    color: #ff7800;
    font-size: 28px;

    i {
      &:last-child {
        display: none;
      }
    }
  }

  &-img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-body {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .grid {
      .ecommerce-product-price {
        margin-right: 20px;
      }
    }
  }

  &-price-discounted {
    color: #ff6d43;
  }

  &-name,
  &-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #606060;
  }

  &-name,
  .grid {
    flex: 1;
  }

  &-expected {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #b0b0b0;
  }
}
