* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

.gl-container {
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  .gl-container {
    padding: 0 1rem;
  }
}

body {
  overflow-x: hidden;
}

.catalog {
  margin: 10rem 0rem;
}

.catalog-products {
  padding-top: 8rem;
  position: relative;
}

.catalog-products__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  color: #FF7703;
}

.catalog-products__text {
  font-size: 1rem;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #323244;
}

.catalog-products__container {
  padding-top: 6rem;
}

.catalog-products__link {
  position: absolute;
  right: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF7703;
}

.catalog-products__card {
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  overflow: hidden;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.catalog-products__card:hover {
  -webkit-box-shadow: 0px 5px 7px rgba(179, 179, 179, 0.25);
          box-shadow: 0px 5px 7px rgba(179, 179, 179, 0.25);
}

.catalog-products__card:hover .g-btn {
  visibility: visible;
  margin-top: 20px !important;
  opacity: 1;
}

.catalog-products__image-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.catalog-products__image-container .catalog-products__card--heart {
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.catalog-products__image-container .catalog-products__card--heart:hover {
  background: url("/assets/svg/fillheart.svg");
}

.catalog-products__image-container .catalog-products__card--heart.active {
  background: url("/assets/svg/fillheart.svg");
}

.catalog-products__card--image {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.475s;
  transition: 0.475s;
}

.catalog-products__card--image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.catalog-products__info {
  padding: 10px;
}

.catalog-products__info .g-btn {
  background: #FF7800;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  width: 100%;
  padding: 8px 0px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  margin-top: 20px;
}

.catalog-products__info .g-btn:hover {
  background: #f38729;
}

.catalog-products__info--name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #606060;
}

.catalog-products__info--color {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #B0B0B0;
}

.catalog-products__info--price {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #606060;
  position: relative;
}

.catalog-products__info--price.old {
  text-decoration: line-through;
}

.catalog-products__info--price.new {
  color: #FF6D43;
}

.catalog-filters {
  margin-right: 3rem;
}

.catalog-filters__container {
  background: #ff7800;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.catalog-filters__container .select-arrow {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.catalog-filters__container .select-arrow-bg {
  position: absolute;
  right: 14px;
  top: 22px;
}

.catalog-filters__container #select {
  color: #FF7800;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  padding: 18px 10px;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #FF7800;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  text-align-last: center;
  direction: ltr;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.catalog-filters__container #select option:not(:first-child) {
  background: #ff7800;
  color: #ffffff;
  text-align: center;
  direction: ltr;
  outline: none;
}

.catalog-filters__list.gender, .catalog-filters__list.kids {
  height: 100px;
}

.catalog-filters__list.size {
  height: 160px;
}

.catalog-filters__list.color {
  height: 220px;
}

.catalog-filters__list {
  position: relative;
  overflow-y: scroll;
  height: 300px;
  margin-top: 20px;
}

.catalog-filters__list:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0;
  background: #ff7800;
}

.catalog-filters__list::-webkit-scrollbar {
  display: none;
}

.catalog-filters__list .page {
  position: relative;
  width: 100px;
  height: 200px;
}

.catalog-filters__list .content {
  width: 100%;
}

.catalog-filters__list .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.catalog-filters__list .page::after {
  content: '';
  position: absolute;
  z-index: -1;
  height: calc(100% - 20px);
  top: 10px;
  right: -1px;
  width: 5px;
  background: #666;
}

.catalog-filters__list .wrapper::-webkit-scrollbar {
  display: display;
  width: 2px;
}

.catalog-filters__list .wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.catalog-filters__list .wrapper::-webkit-scrollbar-thumb {
  background-color: #FF7800;
  border-right: none;
  border-left: none;
}

.catalog-filters__list .wrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px;
}

.catalog-filters__list .wrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}

.catalog-filters__list--title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.catalog-filters__list--item {
  margin: 8px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #828294;
  -webkit-transition: 0.425s all ease;
  transition: 0.425s all ease;
  cursor: pointer;
  width: 150px;
}

.catalog-filters__list--item:hover, .catalog-filters__list--item.active {
  display: block;
  color: #ffffff;
  background: #ff7800;
  border-radius: 10px;
  padding: 8px 0px;
  text-align: center;
}

.catalog-filters__list--size {
  margin-top: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 12px;
  width: 12px;
  background: none;
  border: 1px solid;
  margin-bottom: 2px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #606060;
  border-radius: 4px;
}

.catalog-filters__list--size::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: -1px;
  top: -1px;
  background: url("/assets/svg/check.svg");
  display: none;
}

.catalog-filters__list--size:checked {
  border: none;
}

.catalog-filters__list--size:checked::after {
  display: block;
}

.catalog-filters__list--label {
  vertical-align: bottom;
  margin-left: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #606060;
}

.catalog-filters__list .inputs-group {
  -ms-flex-preferred-size: 55.5px;
      flex-basis: 55.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-filters__list--color {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 34px;
  width: 34px;
  margin: 8px 0;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.catalog-filters__list--color.purple {
  background: #E305B2;
}

.catalog-filters__list--color.orange {
  background: #FF3D00;
}

.catalog-filters__list--color.light-orange {
  background: #FF8A00;
}

.catalog-filters__list--color.green {
  background: #03A400;
}

.catalog-filters__list--color.blue {
  background: #5200A4;
}

.catalog-filters__list--color.light-blue {
  background: #00B8F2;
}

.catalog-filters__list--color.light-green {
  background: #C2F200;
}

.catalog-filters__list--color.yellow {
  background: #FAFF00;
}

.catalog-filters__list--color.red {
  background: #FF0000;
}

.catalog-filters__list--color.pink {
  background: #FF90C6;
}

.catalog-filters__list--color::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  background: url("/assets/svg/color-check (2).svg");
  display: none;
}

.catalog-filters__list--color:checked {
  border: none;
}

.catalog-filters__list--color:checked::after {
  display: block;
}

.catalog-filters__list--price {
  position: absolute;
  width: 66px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
  border: 2px solid #FF7800;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.catalog-filters__list--price:last-child {
  margin-left: 5rem;
}

.catalog-filters__list--price:last-child::after {
  position: absolute;
  content: '';
  left: -14px;
  top: 50%;
  background: #000;
  width: 10px;
  height: 1px;
}

.catalog-filters__list--range {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border: 1px solid #B0B0B0;
}

.catalog-filters__list--range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF7800;
}

.catalog-filters__list .thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #B0B0B0;
  top: 7px;
  right: 1px;
  z-index: -1;
}

/* Pages */
* {
  font-family: "Manrope", sans-serif;
}

html,
body {
  font-family: "Manrope", sans-serif;
}

.g-select {
  width: 100%;
  min-height: 60px;
}

.g-select .nice-select {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  border: 2px solid #ff7800 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.g-select .nice-select::after {
  background: rgba(255, 120, 0, 0.2) url("../../../assets/product/arrow-down.svg") no-repeat center center;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: none;
  outline: none;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  position: absolute;
  right: 20px;
  margin-top: 0;
}

.g-select .nice-select .current {
  font-weight: 600;
  color: #ff7800;
  font-size: 18px;
}

.g-select .nice-select .list {
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 1px 7px rgba(179, 179, 179, 0.25);
          box-shadow: 0px 1px 7px rgba(179, 179, 179, 0.25);
}

.product-section {
  margin: 80px 0 190px;
}

.product-section .product-view__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
  grid-column-gap: 20px;
}

.product-section .product-view__swiper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  height: 755px;
  overflow-y: hidden;
}

.product-section .product-view__swiper .swiper {
  height: 755px;
}

.product-section .product-view__swiper .swiper-slide {
  height: auto;
}

.product-section .product-view__swiper .button {
  padding: 0;
}

.product-section .product-view__main {
  height: 755px;
}

.product-section .product-view__main img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 755px;
}

.product-section .share-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 16px;
  position: relative;
}

.product-section .share-btn:hover::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  right: 0;
  background-color: #ff4d00;
}

.product-section .share-btn:hover .button-icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.product-section .share-btn:hover .button--text {
  color: #fff;
}

.product-section .share-btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  border-radius: 12px;
  background: rgba(255, 120, 0, 0.2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product-section .share-btn .button--text {
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  color: #b0b0b0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product-section .share-btn .button-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
}

.product-section .share-btn .button-icon img {
  width: 18px;
}

.product-section .product-details__wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 7px rgba(179, 179, 179, 0.25);
          box-shadow: 0px 1px 7px rgba(179, 179, 179, 0.25);
  padding: 30px 50px 50px;
}

.product-section .product-details__title {
  font-weight: 600;
  font-size: 30px;
  color: #606060;
}

.product-section .product-details__small {
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  color: #b0b0b0;
  margin-bottom: 20px;
}

.product-section .product-details__price {
  font-weight: 600;
  font-size: 26px;
  line-height: 72px;
  color: #ff6d43;
  margin-right: 30px;
}

.product-section .product-details__price--discounted {
  font-weight: 600;
  font-size: 14px;
  line-height: 72px;
  color: #606060;
  text-decoration: line-through;
}

.product-section .product-details__discount-rate {
  margin-left: auto;
  background-color: rgba(255, 120, 0, 0.2);
  padding: 15px 12px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 26px;
  color: #ff6d43;
}

.product-section .product-details__brief {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #606060;
  margin: 50px 0;
}

.product-section .product-details__section-title {
  font-weight: 600;
  font-size: 20px;
  color: #606060;
  margin-right: 20px;
}

.product-section .product-details__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-section .product-details__colors--color {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-section .product-details__colors--color span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.product-section .product-details__preloader {
  width: 80px;
}

.product-section .product-details__color-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-section .product-details__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.product-section .product-details__sizes--link {
  font-weight: 600;
  font-size: 14px;
  margin-right: 15px;
  padding: 4px 8px;
  color: #606060;
}

.product-section .product-details__sizes--link.disabled {
  color: #d7d7d7;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.product-section .product-details__sizes--link.active {
  border-bottom: 1px solid #ff6d43;
}

.product-section .product-details__sizes--guide {
  font-weight: 600;
  font-size: 14px;
  color: #606060;
}

.product-section .product-details__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-section .product-details__amount--field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #ff7800;
  padding: 14px;
  border-radius: 10px;
  min-width: 155px;
}

.product-section .product-details__amount--ofproduct {
  color: #ff7800;
  font-weight: 500;
  font-size: 16px;
}

.product-section .product-details__change-amount {
  width: 22px;
  height: 22px;
  background: rgba(255, 120, 0, 0.2);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
}

.product-section .product-details__change-amount img {
  -o-object-fit: contain;
     object-fit: contain;
}

.product-section .product-details__action {
  margin: 80px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-section .product-details__select,
.product-section .product-details .btn-add {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
}

.product-section .product-details .btn-add-favorite {
  min-height: 55px !important;
  background: rgba(255, 120, 0, 0.2);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */